<html>
    <head>
        <link rel="stylesheet" href="static/css/style.css">
    <meta charset="utf-8">
    <title>Classes</title>
    </head>
    <body>
        <header>
            <h1>Hogwarts Classes</h1>
            <h2>Group 108</h2>
        </header>
        <nav>
            <a href="/">Home</a>
            <a href="students">Students</a>
            <a href="professors">Professors</a>
            <a href="points">House Points</a>
            <a href="classes">Classes</a>
            <a href="houses">Houses</a>
        </nav>
        <main>
            <section>
                <table>
                    <thead>
                        <tr>
                            {% for key in Classes[0].keys() %}
                            <th>{{ key }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for class in Classes %}
                        <tr>
                        {% for key in class.keys() %}
                            <td>{{class[key]}}</td>
                            {% endfor %}
                            <td><a href="edit_classes/{{class.classID}}" class="btn btn-default">Edit</a></td>
                            <td><a href="delete_classes/{{class.classID}}" class="btn btn-default">Delete</a></td>
                        </tr>
                            
                        {% endfor %}
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <form method="POST" id="add_Class" action="/classes">
                    <legend>Add Class</legend>
                    <fieldset class="fields">
                        <label>Class Name</label>
                        <input type="text" name="name" required>
                        <label>Location</label>
                        <input type="text" name="location" required>
                        <label>Time</label>
                        <input type="text" name="time" required>
                        <label>Professor</label>
                        <select name="professor">
                            {% for professor in professors %}
                                <option value="{{professor['ID']}}"> {{professor['Professor']}}</option>
                            {% endfor %}
                        </select>
                    </fieldset>
                    <input type="submit" name="addClass" class="btn btn-primary" value="Add Class"></input>
                </form>
                <table>
                    <thead>
                        <tr>
                            {% for key in student_class[0].keys() %}
                            <th>{{ key }}</th>
                            {% endfor %}
                            <th>Withdraw Student</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for thing in student_class %}
                        <tr>
                        {% for key in thing.keys() %}
                            <td>{{thing[key]}}</td>
                            {% endfor %}
                            <td><a href="withdraw/{{thing.classID}}/{{thing.studentID}}" class="btn btn-default">Withdraw </a></td>
                        </tr>       
                        {% endfor %}
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <form method="POST" id="addStudentInClass" action="/classes">
                    <legend>Add Student in Class</legend>
                    <fieldset class="fields">
                        <label>Classes</label>
                        <select name="className">
                            {% for class in Classes %}
                                <option value="{{class['classID']}}"> {{class['Class']}}</option>
                            {% endfor %}
                        </select>
                        <label>Student</label>
                        <select name="studentName">
                            {% for student in students %}
                                <option value="{{student['studentID']}}"> {{student['Name']}}</option>
                            {% endfor %}
                        </select>
                    </fieldset>
                    <input type="submit" name="addStudentInClass" class="btn btn-primary" value="Add Student In Class"></input>
                </form>
            </section>
        </main>
    </body>
</html>