<html>
    <head>
        <link rel="stylesheet" href="static/css/style.css">
    <meta charset="utf-8">
    <title>Classes</title>
    </head>
    <body>
        <header>
            <h1>Hogwarts Classes</h1>
            <h2>Group 108</h2>
        </header>
        <nav>
            <a href="main.j2">Home</a>
            <a href="students.html">Students</a>
            <a href="professors.html">Professors</a>
            <a href="points.html">House Points</a>
            <a href="classes">Classes</a>
            <a href="houses.html">Houses</a>
        </nav>
        <main>
            <section>
                <table>
                    <thead>
                        <tr>
                            {% for key in Classes[0].keys() %}
                            <th>{{ key }}</th>
                            {% endfor %}
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for class in Classes %}
                        <tr>
                        {% for key in class.keys() %}
                            <td>{{class[key]}}</td>
                            {% endfor %}
                            <td><a href="edit_class/{{class.classID}}" class="btn btn-default">Edit Class</a></td>
                            <td><a href="delete_class/{{class.classID}}" class="btn btn-default">Delete Class</a></td>
                        </tr>
                            
                        {% endfor %}
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <form method="POST" id="addClass">
                    <legend>Add Class</legend>
                    <fieldset class="fields">
                        <label>Class Name</label>
                        <input type="text" name="name">
                        <label>Location</label>
                        <input type="text" name="location">
                        <label>Time</label>
                        <input type="text" name="time">
                        <label>Professor</label>
                        <input type="text" name="professor">
                    </fieldset>
                    <button type= "new">Add New Class</button>
                </form>
                <table>
                    <thead>
                        <tr>
                            {% for key in student_class[0].keys() %}
                            <th>{{ key }}</th>
                            {% endfor %}
                            <th>Withdraw Student</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for thing in student_class %}
                        <tr>
                        {% for key in thing.keys() %}
                            <td>{{thing[key]}}</td>
                            {% endfor %}
                            <td><a href="withdraw/{{thing.id}}" class="btn btn-default">Withdraw </a></td>
                        </tr>       
                        {% endfor %}
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <form method="POST" id="addstudentinclass">
                    <legend>Add Student in Class</legend>
                    <fieldset class="fields">
                        <label>Class Name</label>
                        <input type="text" name="name">
                        <label>Student</label>
                        <input type="text" name="location">
                    </fieldset>
                    <button type= "new">Add Student in Class</button>
                </form>

            </section>
        </main>
    </body>

</html>