<html>
    <head>
        <link rel="stylesheet" href="static/css/style.css">
    <meta charset="utf-8">
    <title>Edit Class</title>
    </head>
    <body>
        <header>
            <h1>Hogwarts Classes</h1>
            <h2>Group 108</h2>
        </header>
        <main>
            <section>
                <form id="editCTS" action="/edit_cts/{{data[0].classID}}/{{data[0].studentID}}" method="POST">
                    <legend>Edit Class w/ Student</legend>
                    <fieldset>
                        <input type="hidden" value="{{data[0].classID}}" class="form-control" id="classID" name="classID" required>
                        <input type="hidden" value="{{data[0].studentID}}" class="form-control" id="studentID" name="studentID" required>
                        <label>Class Name</label>
                        <select class="form-control" id="newclassID" name="newclassID" placeholder="">
                            <option value="">&nbsp;</option>
                            {% for class in classes %}
                                {% if class['classID'] == data[0].classID %}
                                    <option value="{{class['classID']}}" selected> {{class['className']}}</option>
                                {% else %}
                                    <option value="{{class['classID']}}"> {{class['className']}}</option>
                                {% endif %}

                            {% endfor %}
                        </select>

                        <label>Student Name</label>
                        <select class="form-control" id="newstudentID" name="newstudentID" placeholder="">
                            <option value="">&nbsp;</option>
                            {% for student in students %}
                                {% if student['studentID'] == data[0].studentID %}
                                    <option value="{{student['studentID']}}" selected> {{student['Name']}}</option>
                                {% else %}
                                    <option value="{{student['studentID']}}"> {{student['Name']}}</option>
                                {% endif %}

                            {% endfor %}
                        </select>
                    </fieldset>
                    <input type="submit" value="Edit Class w/ Student" name="Edit_CTS" class="btn btn-primary">
                    <a href='/classes'><input class="btn" type="button" value="Cancel"></a>
                </form>
            </section>
        </main>
    </body>
</html>