<html>
    <head>
        <link rel="stylesheet" href="static/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Houses</title>
    </head>
    <body>
        <header style= "background-image: url('https://wallpapercave.com/dwp1x/wp3002560.jpg')";>
            <div class="content-width">
            <h1>Hogwarts Houses</h1>
            <h2>Group 108</h2>
            </div>
        </header>
        <nav>
            <div class="content-width">
            <a href="/">Home</a>
            <a href="students">Students</a>
            <a href="professors">Professors</a>
            <a href="points">House Points</a>
            <a href="classes">Classes</a>
            <a href="houses">Houses</a>
            </div>
        </nav>
        <main>
            <p>&nbsp;</p>
            <section>
                <table>
                    <thead>
                        <tr>
                            {% for key in houses[0].keys() %}
                            <th>{{ key }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for house in houses %}
                        <tr>
                         {% for key in house.keys() %}
                            <td>{{house[key]}}</td>
                            {% endfor %}
                            <td><a href="edit_houses/{{house.houseID}}" class="btn btn-default">Edit</a></td>
                            <td><a href="delete_houses/{{house.houseID}}" class="btn btn-default">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <form method="POST" id="add_House" action="/houses">
                    <legend>Add House</legend>
                    <fieldset class="fields">
                        <label>House Name</label>
                        <input type="text" name="houseName" required>
                        <label>Location</label>
                        <input type="text" name="dormLocation" required>
                    </fieldset>
                    <input type= "submit" name="addHouse" class="btn btn-primary" value="Add House"></input>
                </form>
            </section>
        </main>
    </body>
</html>