<html>
    <head>
        <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <title>Houses</title>
    </head>
    <body>
        <header>
            <h1>Hogwarts Houses</h1>
            <h2>Group 108</h2>
        </header>
        <nav>
            <a href="/">Home</a>
            <a href="students.html">Students</a>
            <a href="professors.html">Professors</a>
            <a href="points.html">House Points</a>
            <a href="classes">Classes</a>
            <a href="houses.html">Houses</a>
        </nav>
        <main>
            <section>
                <table>
                    <thead>
                        <tr>
                            <th>House Name</th>
                            <th>Location</th>
                            <th>Points</th>
                            <th>Edit House</th>
                            <th>Delete House</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Gryffindor</td>
                            <td>Gryffindor Tower</td>
                            <td>0</td>
                            <td>
                                <button type="edit">Edit</button>
                            </td>
                            <td>
                                <button type="delete">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Hufflepuff</td>
                            <td>Hufflepuff Basement</td>
                            <td>0</td>
                            <td>
                                <button type="edit">Edit</button>
                            </td>
                            <td>
                                <button type="delete">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Ravenclaw</td>
                            <td>Ravenclaw Tower</td>
                            <td>0</td>
                            <td>
                                <button type="edit">Edit</button>
                            </td>
                            <td>
                                <button type="delete">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Slytherin</td>
                            <td>Slytherin Dungeon</td>
                            <td>0</td>
                            <td>
                                <button type="edit">Edit</button>
                            </td>
                            <td>
                                <button type="delete">Delete</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <p>&nbsp;</p>
                <form method="POST" id="addClass">
                    <legend>Add House</legend>
                    <fieldset class="fields">
                        <label>House Name</label>
                        <input type="text" name="name">
                        <label>Location</label>
                        <input type="text" name="location">
                        <label>Points</label>
                        <input type="text" name="points">
                    </fieldset>
                    <button type= "new">Add New House</button>
                </form>

            </section>
        </main>
    </body>

</html>