      <!--
        Citation for image
        Date: 11/30/23
        Based on: wikipedia
        Source URL: "https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hogwarts_
                    -_Wizarding_World_of_Harry_Potter_-_Hollywood.jpg/800px-Hogwarts_-_Wizarding_World_of_Harry_Potter
                    _-_Hollywood.jpg" -->



<html>
    <head>
        <link rel="stylesheet" href="static/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="/icon.ico">
    </head>
    <body>
        <header style= "background-image: url('https://wallpapercave.com/dwp1x/wp3002560.jpg')";>
        <div class="content-width">
            <h1>Hogwarts Home</h1>
            <h2>Group 108</h2>
        </div>
        </header>
        <div style= "background-image: url('')";>
        <nav>
            <div class="content-width">
            <a href="/">Home</a>
            <a href="students">Students</a>
            <a href="professors">Professors</a>
            <a href="points">House Points</a>
            <a href="classes">Classes</a>
            <a href="houses">Houses</a>
            </div>
        </nav>
    <p>&nbsp;</p>
    <p class ="pages"> Students  </p>
    <p class="def"> Lists all of the currently enrolled Students at Hogwarts 
        and their relevant information. Enrolling, editing, or withdrawing
         Students is done on this page.</p>
         <p>&nbsp;</p>
         <p class ="pages">Professors </p>
         <p class ="def"> Lists all of the Hogwarts professors and their 
            relevant information. Adding, editing, or removing Professor 
            records is done on this page.</p>
         <p>&nbsp;</p>
         <p class ="pages">House Points  </p>
         <p class= "def">Lists all point assignments recorded. New records 
            of Point Assignments are made on this page.</p>
         <p>&nbsp;</p>
         <p class ="pages">Classes </p>
         <p class ="def"> Lists all classes offered at Hogwarts. Also shows 
            all students enrolled in each class. Editing or Deletion of 
            classes and Adding or Removing Students from classes is done
            on this page.</p>
         <p>&nbsp;</p>
         <p class ="pages">Houses</p>
         <p class="def"> Lists the Houses of Hogwarts, their current points, 
            and options for Editing or Deleting a House.</p>
        <p>&nbsp;</p>
        </div>

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hogwarts_-_Wizarding_World_of_Harry_Potter_-_Hollywood.jpg/800px-Hogwarts_-_Wizarding_World_of_Harry_Potter_-_Hollywood.jpg" alt="hogwarts school" />
    </body>

</html>