<html>
    <head>
        <link rel="stylesheet" href="static/css/style.css">
    <meta charset="utf-8">
    <title>House Point Assignments</title>
    </head>
    <body>
        <header>
            <h1>House Point Assignments</h1>
            <h2>Group 108</h2>
        </header>
        <nav>
            <a href="/">Home</a>
            <a href="students">Students</a>
            <a href="professors">Professors</a>
            <a href="points">House Points</a>
            <a href="classes">Classes</a>
            <a href="houses">Houses</a>
        </nav>
        <main>
            <section>
                <table>
                    <thead>
                        <tr>
                            {% for key in points[0].keys() %}
                            <th>{{ key }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for point in points %}
                        <tr>
                            {% for key in point.keys() %}
                            <td>{{point[key]}}</td>
                            {% endfor %}
                            <td><a href="edit_points/{{point.assignmentID}}" class="btn btn-default">Edit</a></td>
                            <td><a href="delete_points/{{point.assignmentID}}" class="btn btn-default">Delete</a></td>    
                        </tr>
                        {% endfor %}  
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <form method="POST" id="add_Points" action="/points">
                    <legend>Add Points</legend>
                    <fieldset class="fields">
                        <label>Number of Points</label>
                        <input type="number" name="numOfPoints" required>
                        <label>Date</label>
                        <input type="date" name="dateAssigned">
                        <label>Professor</label>
                        <select name="professorID" required>
                            {% for professor in professors %}
                                <option value="{{professor['professorID']}}"> {{professor['Professor']}}</option>
                            {% endfor %}
                        </select>
                        <label>Student</label>
                        <select name="studentID" required>
                            {% for student in students %}
                                <option value="{{student['studentID']}}"> {{student['Student']}}</option>
                            {% endfor %}
                        </select>
                    </fieldset>
                    <input type="submit" name="addPoints" class="btn btn-primary" value="Add Point Assigment"></input>
                </form>
            </section>
        </main>
    </body>

</html>
