<html>
    <head>
        <link rel="stylesheet" href="static/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8">
    <title>Professors</title>
    </head>
    <body>
        <header style= "background-image: url('https://wallpapercave.com/dwp1x/wp3002560.jpg')";>
            <div class="content-width">
            <h1>Hogwarts Professors</h1>
            <h2>Group 108</h2>
            </div>
        </header>
        <nav>
            <div class="content-width">
            <a href="/">Home</a>
            <a href="students">Students</a>
            <a href="professors">Professors</a>
            <a href="points">House Points</a>
            <a href="classes">Classes</a>
            <a href="houses">Houses</a>
            </div>
        </nav>
        <main>
            <section>
                <p>&nbsp;</p>
                <table>
                    <thead>
                        <tr>
                            {% for key in Professors[0].keys() %}
                            <th>{{ key }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for prof in Professors %}
                        <tr>
                        {% for key in prof.keys() %}
                            <td>{{prof[key]}}</td>
                            {% endfor %}
                            <td><a href="edit_professors/{{prof.ID}}" class="btn btn-default">Edit</a></td>
                            <td><a href="delete_professors/{{prof.ID}}" class="btn btn-default">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <form method="POST" id="add_Professor" action="/professors">
                    <legend>Add Professor</legend>
                    <fieldset class="fields">
                        <label>First Name</label>
                        <input type="text" name="fname" required>
                        <label>Last Name</label>
                        <input type="text" name="lname" required>
                        <label>Email</label>
                        <input type="email" name="email" required>
                        <label>Office Location</label>
                        <input type="text" name="officelocation" required>
                        <label>Start Date</label>
                        <input type="date" name="startdate" required>
                        <label>Salary</label>
                        <input type="number" name="salary" required>
                        <label>House</label>
                        <select name="house">
                            <option value="">&nbsp;</option>
                            {% for house in Houses %}
                                <option value="{{house['houseID']}}"> {{house['houseName']}}</option>
                            {% endfor %}
                        </select>
                        <label>Head of House</label>
                        <select name="isheadofhouse">
                            <option value="1">Yes</option>
                            <option value="0" selected>No</option>     
                        </select>
                    </fieldset>
                    <input type="submit" name="addProfessor" class="btn btn-primary" value="Add Professor"></input>
                </form>
            </section>
        </main>
    </body>
</html>