<html>
    <head>
        <link rel="stylesheet" href="static/css/style.css">
    <meta charset="utf-8">
    <title>Students</title>
    </head>
    <body>
        <header>
            <h1>Hogwarts Students</h1>
            <h2>Group 108</h2>
        </header>
        <nav>
            <a href="/">Home</a>
            <a href="students">Students</a>
            <a href="professors">Professors</a>
            <a href="points">House Points</a>
            <a href="classes">Classes</a>
            <a href="houses">Houses</a>
        </nav>
        <main>
            <section>
                <table>
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Year</th>
                            <th>House</th>
                            <th>Prefect</th>
                            <th>Edit Student</th>
                            <th>Delete Student</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Harry</td>
                            <td>Potter</td>
                            <td>hpotter@hogwarts.edu</td>
                            <td>3</td>
                            <td>Gryffindor</td>
                            <td>No</td>
                            <td>
                                <button type="edit">Edit</button>
                            </td>
                            <td>
                                <button type="delete">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Draco</td>
                            <td>Malfoy</td>
                            <td>dmalfoy@hogwarts.edu</td>
                            <td>3</td>
                            <td>Slytherin</td>
                            <td>No</td>
                            <td>
                                <button type="edit">Edit</button>
                            </td>
                            <td>
                                <button type="delete">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Percy</td>
                            <td>Weasley</td>
                            <td>pweasley@hogwarts.edu</td>
                            <td>7</td>
                            <td>Gryffindor</td>
                            <td>Yes</td>
                            <td>
                                <button type="edit">Edit</button>
                            </td>
                            <td>
                                <button type="delete">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Luna</td>
                            <td>Lovegood</td>
                            <td>llovegood@hogwarts.edu</td>
                            <td>2</td>
                            <td>Ravenclaw</td>
                            <td>No</td>
                            <td>
                                <button type="edit">Edit</button>
                            </td>
                            <td>
                                <button type="delete">Delete</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <p>&nbsp;</p>
                <form method="POST" id="addStudent">
                    <legend>Add Student</legend>
                    <fieldset class="fields">
                        <label>First Name</label>
                        <input type="text" name="fname">
                        <label>Last Name</label>
                        <input type="text" name="lname">
                        <label>Email</label>
                        <input type="email" name="email">
                        <label>Year</label>
                        <input type="number" name="classyear">
                        <label>House</label>
                        <select name="house">
                            <option value="Select House">Select House</option>
                            <option value="Gryffindor">Gryffindor</option>
                            <option value="Hufflepuff">Hufflepuff</option>
                            <option value="Ravenclaw">Ravenclaw</option>
                            <option value="Slytherin">Slytherin</option>
                        </select>
                        <label>Prefect</label>
                        <select name="isprefect">
                            <option value="yes">Yes</option>
                            <option value="no">No</option>     
                        </select>

                    </fieldset>
                    <button type= "new">Add New Student</button>
                </form>

            </section>
        </main>
    </body>

</html>

