<html>
    <head>
        <link rel="stylesheet" href="static/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Students</title>
    </head>
    <body>
        <header style= "background-image: url('https://wallpapercave.com/dwp1x/wp3002560.jpg')";>
        <div class="content-width">
            <h1>Hogwarts Students</h1>
            <h2>Group 108</h2>
        </div>
        </header>
        <nav>
            <div class="content-width">
            <a href="/">Home</a>
            <a href="students">Students</a>
            <a href="professors">Professors</a>
            <a href="points">House Points</a>
            <a href="classes">Classes</a>
            <a href="houses">Houses</a>
            </div>
        </nav>
        <main>
            <section>
                <p>&nbsp;</p>
                <table>
                    <thead>
                        <tr>
                            {% for key in students[0].keys() %}
                            <th>{{ key }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for student in students %}
                        <tr>
                        {% for key in student.keys() %}
                            <td>{{student[key]}}</td>
                            {% endfor %}
                            <td><a href="edit_students/{{student.studentID}}" class="btn btn-default">Edit</a></td>
                            <td><a href="delete_students/{{student.studentID}}" class="btn btn-default">Delete</a></td>    
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <form method="POST" id="add_Student" action="/students">
                    <legend>Add Student</legend>
                    <fieldset class="fields">
                        <label>First Name</label>
                        <input type="text" name="firstName" required>
                        <label>Last Name</label>
                        <input type="text" name="lastName" required>
                        <label>Email</label>
                        <input type="email" name="studEmail" required>
                        <label>Year</label>
                        <input type="number" name="classYear" required>
                        <label>House</label>
                        <select name="houseID" required>
                            {% for house in houses %}
                                <option value="{{house['houseID']}}"> {{house['houseName']}}</option>
                            {% endfor %}
                        </select>
                        <label>Prefect</label>
                        <select name="isPrefect" required>
                            <option value="1">Yes</option>
                            <option value="0" selected>No</option>     
                        </select>
                    </fieldset>
                    <input type="submit" name="addStudent" class="btn btn-primary" value="Add Student"></input>
                </form>
            </section>
        </main>
    </body>
</html>

